.header {
  background-color: blue;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
}

.header ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.header img {
  padding: 3px;
  margin: 10px;
  width: 1.7em;
}

.header p {
  color: white;
  text-align: center;
  align-content: center;
  text-align: center;
}

.fab fa-facebook-f {
  width: 300px;
  color: blue;
}
